<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <!-- navbar -->
    <nav>
      <span><a href="/">Logo</a></span>
      <form action="/search" method="post">
        <input type="search" placeholder="Search..." name="searchpost" />
      </form>
    </nav>
    <!-- navbar ends -->
<div class="main_container">
    <%-body%>
</div>
   
      <footer>
        <p>Created by Ferdinand Joel</p>
        <p>Code and Designed by Ferdinand & Runo</p>
      </footer>
    </div>
    <!-- main ends -->
  </body>
</html>
