
<h3 class="submit_new">CREATE A NEW CATEGORY</h3>
<div class="form-container" style="padding-bottom: 150px;">
<form action="/newcat"  method="POST" >
 
  <!-- Name -->
<div class="row">
  <div class="col-25">
    <label for="name">CATEGORY NAME</label>
  </div>
  <div class="col-75">
    <input type="text" id="name" name="category" placeholder="category name must be in CAPITAL LETTERS">
  </div>
</div>


    <div class="row">
    <input type="submit" value="Submit">
    </div>
</form>